*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

/* Grid */

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 24px;
}

.app-main {
  width: 100%;
}

.app-column {
  display: flex !important;
  flex-direction: column !important;
  max-width: 100% !important;
}

.app-row {
  display: flex !important;
  flex-wrap: wrap;
}

.app-justify-start {
  justify-content: flex-start !important;
}

.app-justify-end {
  justify-content: flex-end !important;
}

.app-justify-center {
  justify-content: center !important;
}

.app-justify-space-between {
  justify-content: space-between !important;
}

.app-justify-stretch {
  justify-items: stretch;
}

.app-align-start {
  align-items: flex-start !important;
}

.app-align-end {
  align-items: flex-end !important;
}

.app-align-center {
  align-items: center !important;
}
.app-align-stretch {
  align-items: stretch !important;
}

.col-4 {
  flex: 0 0 33.3333333333% !important;
  max-width: 33.3333333333% !important;
}
.col-5 {
  flex: 0 0 41.66666666666667% !important;
  max-width: 41.66666666666667% !important;
}

.col-6 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}
.col-7 {
  flex: 0 0 58.3333333333% !important;
  max-width: 583333333333% !important;
}

.col-8 {
  flex: 0 0 66.6666666667% !important;
  max-width: 66.6666666667% !important;
}

.col-12 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
/* Spacing */


.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-6 {
  margin-top: 24px;
}

.mx-n2 {
  margin-left: -8px;
  margin-right: -8px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx-3 {
  margin-left: 12px;
  margin-right: 12px;
}
.mr-3 {
  margin-right: 12px;
}
.ml-2 {
  margin-left: 8px;
}
.ml-3 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: 16px;
}
.ml-6 {
  margin-left: 24px;
}
.ml-n4 {
  margin-left: -16px;
}

.mx-n3 {
  margin-left: -12px;
  margin-right: -12px;
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 12px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-n2 {
  padding-left: -8px;
  padding-right: -8px;
}
.pa-2 {
  padding: 8px;
}
.pa-1 {
  padding: 4px;
}
.ma-n1 {
  margin: -4px;
}
.ma-1 {
  margin: 4px;
}
.ma-2 {
  margin: 8px;
}

.pa-2 {
  padding: 8px;
}
.pa-3 {
  padding: 12px;
}
.ma-n2 {
  margin: -8px;
}
.ma-n3 {
  margin: -12px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.pa-2 {
  padding: 8px!important;
}
.pl-2 {
  padding: 8px!important;
}
.pl-6 {
  padding: 24px!important;
}

.mr-2 {
  margin-right: 8px;
}

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
} 
.my-n6 {
  margin-top: -24px;
  margin-bottom: -24px;
}

.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.pl-6 {
  padding-left: 24px;
}

.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px!important;
}

.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px!important;
}

.py-3 {
  padding-top: 12px !important;
  padding-bottom: 12px!important;
}
.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pt-4 {
  padding-top: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.fill-height {
  height: 100%;
}
.app-spacer {
  flex-grow: 1!important;
}

.app-text-left {
  text-align: left !important;
}
.app-text-right {
  text-align: right !important;
}

/* Colors */ 
.grey-text {
  color: #9E9E9E;
}

/* Font  & Typography*/

.text-display-2 {
  font-size: 3rem!important;
  line-height: 3.125rem;
  letter-spacing: normal!important;
}

.text-display-1 {
  font-size: 2rem !important;
  line-height: 2.5rem;
  letter-spacing: .0073529412em !important;
}

.text-display-1, .text-display-2 {
  font-weight: 400;
  font-family: Roboto,sans-serif !important;
}

.text-headline {
  font-size: 1.5rem !important;
  font-weight: 400;
  letter-spacing: normal !important;
  line-height: 2rem;

}

.text-title {
  font-size: 1.25em !important;
  font-weight: 500 !important;
  letter-spacing: .0125em!important;
  line-height: 2rem;
}

.text-subtitle {
  font-size: 1rem !important;
  letter-spacing: .009375em !important;
  line-height: 1.75rem;
}

.text-caption {
  font-size: .8rem!important;
  letter-spacing: .0333333333em!important;
  line-height: 1.25rem;
}

.text-mini-caption {
  font-size: .6rem!important;
  letter-spacing: .0333333333em!important;
  line-height: 1.25rem;
}

.font-weight-thin {
  font-weight: 300 !important;
} 

.font-weight-regular {
  font-weight: 400 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}


/* Media Queries */

@media screen and (min-width: 1200px) {
  .app-main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .col-md-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important;
  }
  
  .col-md-8 {
    flex: 0 0 66.6666666667% !important;
    max-width: 66.6666666667% !important;
  }
  
  .col-md-5 {
    flex: 0 0 41.66666666666667% !important;
    max-width: 41.66666666666667% !important;
  }

  .col-md-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333% !important;
    max-width: 583333333333% !important;
  }
  
  .col-md-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .app-md-align-end {
    align-items: flex-end !important;
  }
  .app-md-text-left {
    text-align: left !important;
  }
  .app-md-text-right {
    text-align: right !important;
  }
}
@media screen and (min-width: 800px) {
  .col-sm-4 {
    flex: 0 0 33.3333333333% !important;;
    max-width: 33.3333333333% !important;;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667% !important;;
    max-width: 66.6666666667% !important;;
  }
  
  .col-sm-5 {
    flex: 0 0 41.66666666666667% !important;
    max-width: 41.66666666666667% !important;
  }

  .col-sm-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333% !important;
    max-width: 583333333333% !important;
  }

  .col-sm-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .app-sm-align-end {
    align-items: flex-end!important;
  }

  .app-sm-text-left {
    text-align: left !important;
  }
  .app-sm-text-right {
    text-align: right !important;
  }

  .app-sm-justify-start {
    justify-content: flex-start !important;
  }
  
  .app-sm-justify-end {
    justify-content: flex-end !important;
  }
  
  .app-sm-justify-center {
    justify-content: center !important;
  }
  
  .app-sm-justify-space-between {
    justify-content: space-between !important;
  }
  
  .app-sm-justify-stretch {
    justify-items: stretch;
  }
  
  .app-sm-align-start {
    align-items: flex-start !important;
  }
  
  .app-sm-align-end {
    align-items: flex-end !important;
  }
  
  .app-sm-align-center {
    align-items: center !important;
  }
  .app-sm-align-stretch {
    align-items: stretch !important;
  }
}

/* @media screen and (min-width: 375px) {
 
} */